@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg,#09203F , #537895);
    margin: 0%;
    padding: 0%;
}
.btn3{
    position: absolute;
    border-radius: 20px;
    bottom: 8%;
    left: 90%;
    transform: translateX(-50%) translateY(-50%);
}
.first_col {
    margin-top: 0%;
}
.first_col {
    background: linear-gradient(90deg,#09203F , #537895);
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    width: 550px;
    left: 155px;
    top: 0%;
    border-radius: 20px;
    color: white;
}

.img-fluid {
    border-radius: 20px;
}

.row-last {
    width: 60% !important;
    position: relative !important;
    left: 350px;
    top: 50px;
    height: 200px;
    padding-bottom: 100px !important;
    background-color: #c1b688;
    border-radius: 20px;

}

.btn-primary {
    background-color: #c1b688;
    border: #c1b688;

}

.btn-primary:hover {
    background-color: black !important;
}

.form-control {
    height: 52px;
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #c1b688;
    margin-top: 10px;
    border-radius: 30px;
}
.form-control[type=text]:focus {
border: 2px solid #555;
border-radius: 20px;
}